[submodule "extern/mfem"]
	path = extern/mfem
	url = https://github.com/mfem/mfem.git
[submodule "extern/boundaryintegrallib"]
	path = extern/boundaryintegrallib
	url = git@github.com:woutertonnon/BoundaryIntegralLib.git
